.navbar {
  background-color: #C745F0;
  height: 70px;
  margin: 0;
  width: 100%;
}

svg {
  color: #ffa500;
  font-size: 40px;
  margin-top: 6px;
  vertical-align: bottom;
}

.navbar-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-content > div {
  flex: 1;
}

.header-content {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
  margin-left: 100px;
}

.header {
  color: #ffffff;
  font-family: 'Lobster Two', cursive;
  font-size: 36px;
  padding: 6px 10px;
}

.search-input {
  border: 1px solid #f85ad1;
  border-radius: 5px;
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  height: 40px;
  padding-left: 10px;
  width: 450px;
}

.sign {
  color: #ffffff;
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
  padding: 6px;
  transition: .3s;
}

.sign:hover {
  background-size: 200px;
  background-color: #f85ad1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
}

.snippet-card {
  background-color: #ffffff;
  border-radius: 20px;
  font-family: 'Lobster Two', cursive;
  margin: 20px auto;  
  padding: 20px;
  text-transform: capitalize;
  transition: .3s;
  width: 70%;
}

.snippet-card:hover {
  box-shadow: 2px 2px 2px #f85ad1;
  transform: scale(1.005);
}

.snippet-card-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.copy-icon {
  cursor: pointer;
  transition: .3s;
}

.copy-icon:hover {
  transform: scale(1.1);
}

.tooltip .tooltiptext {
  border-radius: 6px;
  background-color: #f85ad1;
  color: #ffffff;
  margin: 5px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.not-found {
  color: black;
  margin-top: 100px;
  text-align: center;
}

.smiley svg {
  font-size: 100px;
  margin-bottom: 30px;
}

.not-found div {
  color: #f85ad1;
}